<html><head>
</head><body>
<h1>Protected ressource</h1>
<p>The requested ressource is only accessible for members of the OpenStreetMap community. You have to log in with your OpenStreetMap account.</p>
<a href="{{ link_url }}">Authenticate with OSM</a>
<a href="{{ public_url }}">Access public alternative</a>
</body></html>
